# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Model artifacts (optional, if you want to keep them out of git)
*.joblib
*.h5
*.pkl

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Others
*.sqlite3
